/*custom styles*/
/*by Elisabeth Parker*/

/*NAVIGATION BARS*/
/*Shared styles for horizontal menus like nav-bar and icon-bar*/
.horizontal > li {
  float: right;
}

/*top nav bar with "MINI of Raleigh", help and settings*/
.nav-bar {
  background-color: #2394ee;
  padding: 5px 100px 0px 0px;
  padding-right: 100px; /*would have rather used percentages here but couldn't figure it out*/
  height: 35px;
}

/*compress nav-bar icons*/
.nav-bar img {
  height: 17px;
}

/*restyle nav-bar link text*/
.nav-bar li a {
  font-weight: bold;
  color: white;
  font-size: 10.5px;
  padding-right: 10px;
}

/*this approach to adding separators inspired by stack overflow user ajcw*/
.nav-bar > div > ul > li > a > img {
  background-image: url(../images/separator.png);
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 10px;
  margin: 0 auto;
}

/*second row is icon-bar*/
.icon-bar {
  background-image: url(../images/icon-background.png);
  background-position: center;
  height: 110px;
  padding-top: 20px;
}

/*removes list styling for nav-bar and icon-bar*/
.icon-bar ul, .nav-bar ul {
  list-style: none;
}


/*styling for two layers of icons (standard anad hover states)*/
.front:hover {
    opacity: 0;
    cursor: pointer;
}
.back {
  margin-left: 1px;
}
.above {
   position: absolute;
  z-index: 2;
}
.below {
   position: absolute;
  z-index: 1;
}

/*Distributing icons across icon-bar*/
#dash {
  left: 20%;
}
#people {
  left: 30%;
}
#chat {
  left: 40%;
}
#tag {
  left: 50%;
}
#edit {
  left: 60%;
}
#bars {
  left: 70%;
}
#arrow {
  left: 21.5%;
  bottom: 0%;
  margin-bottom: -5px;
}

/*pixel-level adjustment for icon distribution*/
.shift-left-2 {
  margin-left: -2px;
}
.shift-left-1 {
  margin-left: -1px;
}


/*dashboard bar*/
.dashboard {
  background-color: #3dca6a;
  border-radius: 5px;
  padding: 20px 0px 10px 0px;
  margin-top: 15px;
}
.dashboard h1 {
  font-family: 'Hind', sans-serif;
  font-size: 27px;
  color: white;
  margin: 0 auto;
  display: inline;
}

/*search bar in dashboard*/
.dashboard form {
  float: right;
  margin-top: -3px;
}
.dashboard form input {
  border-color: #2db55b;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.dashboard img {
  z-index: 2;
  position: absolute;
  left: 95.5%;
}

/*CONTENT*/

/*GENERAL*/
/*styling for entire content div, incl gradient background*/
.content {
  background-image: url(../images/gradient.png);
  background-size: contain;  /*thanks to stack overflow user hendos43 for suggesting the background-size attribute*/
  margin: 0px -15px;
  background-repeat: no-repeat;
  margin-top: 20px;
  padding: 10px;

}
.content .row {
  box-shadow: 0px 1px 1px grey;
}

/*tiles styling creates panel effect for content */
.tiles {
  margin: 0px 3px;
  background-color: white;
  padding-top: 15px;
}

/*remove shadow from rows w/in rows*/
.row .row {
  box-shadow: none;
}

/*remove padding from internal columns so borders can span full width*/
.internal {
  padding: 0px;
}

/*style for tiles with internal border-right*/
.border-right {
  border-right: 0.5px solid #eeeeee;
}

.border-bottom {
    border-bottom: 0.5px solid #eeeeee;
}
/*style for tiles with centered content*/
.center {
  text-align: center;
}

h2 {
  font-family: 'Hind', sans-serif;
  font-size: 30px;
  color: #3399ff;
  margin-left: 20px;
  display: inline;
}

/*styling for sprites as list style items*/
.bullet {
  float: left;
  display: inline;
  margin-left: 20px;
}

/*ANNOUNCEMENTS*/
/*announcements is the entire top row of main content*/
/*info on how to center content vertically from Steven Bradley of Anseo Design*/
.announcements {
  background-color: white;
  border: 1px solid #efefef;
  margin: 0px 3px;
  line-height: 45px;
}
.announcements h4 {
  font-family: 'Hind', sans-serif;
  font-weight: lighter;
  font-size: 13px;
  color: #f57e20;
  margin: 0px;
  line-height: 45px;
  vertical-align: middle;
}
.announcements p {
  font-family: 'Hind', sans-serif;
  font-weight: lighter;
  font-size: 13px;
  color: #777777;
  margin: 0px;
}
.announcements a { /*left/right arrow buttons in announcements row*/
  margin: 3px;
}
.announcements a img:hover {
  transform: scale(1.1);
}

/*TASKS AND RECS*/
/*styling that tasks and recommendations tiles share*/
.tasks h3, .recs h3 {
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  color: #3399ff;
  margin-left: 15px;
  display: inline;
  vertical-align: super;
}

.tasks ul, .recs ul {
  list-style: none;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.tasks li:last-child, .recs li:last-child { /*remove border from last li*/
  border: none;
}

.tasks li:hover, .recs li:hover {
  /*grayscale idea from w3schools https://www.w3schools.com/cssref/css3_pr_filter.asp*/
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100);
  cursor: pointer;
}


/*TASKS ONLY*/
.tasks .sprite-grey-settings {
  float: right;
  display: inline;
  margin-right: 20px;
}

.tasks li {
  line-height: 40px;
  padding: 15px 0px 5px 0px;
  border-bottom: 0.5px solid #eeeeee;
}

/*interactive hover effects for tasks tile*/
.tasks .sprite-grey-settings:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*person+number images in task list*/
.tag {
  float: right;
  display: inline;
  vertical-align: super;
  margin-right: 20px;
}


/*RECOMMENDATIONS ONLY*/
.recs {
  padding: 20px 20px; /*so that bottom border on li doesn't extend to sides of div */
}
.recs li {
  line-height: 40px;
  padding: 15px 0px 5px 0px;
  border-bottom: 0.5px dotted #eeeeee;
}
.recs h2 {
  margin: 0px;
}
/*standardize width of bullets*/
.recs-list .bullet {
  width: 20px;
  margin: 0px 20px 0px 0px;
}

/*h6 is used for superscript in recs tile*/
.recs h6 {
  font-family: 'Hind', sans-serif;
  font-size: 10px;
  color: #777777;
  margin: 0px;
  display: block;
  vertical-align: middle;
  text-align: left;
  margin-bottom: 3px;
}

/*p is used for the primary text in recs tile*/
.recs p {
  font-family: 'Hind', sans-serif;
  font-size: 17px;
  color: #777777;
  line-height: normal;
  display: block;
  text-align: left;
  line-height: 100%;
}
